<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KnowLabDb"
         connectionString="Server=WIN-NT0F62URHT9\ANND;Database=WED_KnowLab;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="vi-VN" uiCulture="vi-VN" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="20480" />
    <pages clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <handlers>
      <add name="ActionHandler" verb="*" path="Action.ashx" type="KnowLab.Handlers.ActionHandler, KnowLab" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>
